<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/favicon">
    
    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="http://thebitbot.xyz/cdn/css/essencials.css">
    <link rel="stylesheet" type="text/css" href="http://thebitbot.xyz/cdn/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.thebitbot.website/cdn/css/normalize.css">

    <script src="https://kit.fontawesome.com/b69cf77721.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Navbar-->
    <%- include('partials/navbar.ejs') %>
    
    <!--Parte de cima da página-->
    <div id="mainContext">
      
        <h1 class="mainContextAlign mainText">Olá! Eu sou o Bit!</h1>
        <a href="https://discordapp.com/oauth2/authorize?client_id=618202633907208192&scope=bot&permissions=8">
        <!--<img class="mainContextAlign mainLogo" src="/cdn/img/logo.png" alt="Logo"></a>-->
    </div>
  
    <div align="center" class="subMainContext">
        <i align="center" id="setaParaBaixo" class="fas fa-chevron-down"></i>
    </div>
    <a name="teste"></a>
    <!--Home Ads - Primeiros-->
    <div class="homeAdsFirstContext">
      <a href="https://www.discord.gg/afkYf3v">
        <img id="homeAsdFirst_first" src="/cdn/img/ads/bitServer.png" alt="Anúncio">
      </a>
      <!--
      <a href="./premiumAds.html">
        <img id="homeAsdFirst_second" src="/cdn/img/ads/defBanner.png" alt="Anúncio">
      </a>
      <div class="homeAdsFirstTextContext">
        <p class="homeAdsFirst_text1">Quer adicionar o seu servidor nos anúncios? Descubra como em</p> 
        <a class="homeAdsFirst_text2" href="premiumAds.html">
          <span class="homeAdsFirstText_button"><b>Premium Ads</b></span>
        </a>
      -->
      </div>
    </div>
    <!--Sobre Mim-->
    <div class="sobreMim">
      <h1 class="sobreMimItens sobreMimTitle">Sobre Mim</h2>
      <p id="sobreMimText">Olá, eu sou o Bit! Eu sou um bot que tem a intenção de ajudar os moderadores e divertir os usuários do seu servidor! Não vale a pena ficar gastando tempo configurando o seu servidor, bots complexos e outras coisas inúteis... Deixe que eu cuido disso para que você possa se divertir sem limites!<br><br>
      Eu possuo funcionalidades úteis para os seus moderadores, para você, que perdia muito tempo para configurar coisas simples do seu servidor e para os seus membros que querem se divertir e descansar... Tudo isso com uma customização incrível!<br><br>
      <b>Deixe o seu servidor incrível, pare de perder tempo e divirta os seus membros facilmente com apenas alguns comandos!</b>
      </p>
  
    <!--Moderação-->
    <div class="moderação">
      <h1 class="moderaçãoItens moderaçãoTitle">Moderação</h2>
      <p id="moderaçãoText">Todos nós sabemos que algumas pessoas não seguem as regras, mas, o que pode fazer para evitar isso? Simples! Com um sistema inigualável, super prático e customizável de moderação, fica fácil lidar com essas pessoas! Por isso, você não precisará perder mais tempo banindo, expulsando e dando broncas nos usuários! Eu faço tudo isso e ainda possuo um sistema de avisos quando alguem faz algo errado!<br><br>
      Sei que isso tudo já é muito incrível, mas, ainda falta uma coisa... O que acontece se alguém quebrar as regras quando você não estiver? Por causa disso,logo eu possuirei um sistema de moderação automática, que irá fazer tudo sozinho quando você estiver fora!</p>
    </div>
  
    <!--Diversão-->
    <div class="diversão">
      <h1 class="diversãoItens diversãoTitle">Diversão</h2>
      <p id="diversãoText">Um dos meus objetivos é deixar você e os membros do seu servidor mais felizes e animados...<br>
      Por isso, eu possuo vários comandos de diversão para que você possa se divertir e rir muito! Alguns exemplos são: o flipcoin, que joga uma moeda e permite que você jogue cara ou coroa; o roll, que joga um dado e mostra qual lado caiu e muito mais!<br><br>
      Lembrando que o meu sistema está em desenvolvimento, e, caso você queira mandar uma sugestão de um novo comando, seja de diversão ou não, envie uma sugestão no canal de sugestões do meu servidor!
      </p>
    </div>
    
    <div class="homeAdsSecondContext">
      <img id="homeAdsSecond_first" src="/cdn/img/ads/bitServer.png" alt="Anúncio">
      <!--<img id="homeAdsSecond_second" src="/cdn/img/ads/defBanner.png" alt="Anúncio">-->
    </div>
    <!--Footer-->
    <%- include('partials/footer.ejs') %>
</body>
</html>

