#mainContext {
    display: inline;
    text-align: center;
    padding-top: 20%;
    align-items: center;
    align-content: center;
}

#pageTitle {
    /*padding-top: 1%;*/
    color: #5271ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#description {
    padding-bottom: 2%;
    /*padding-top: 0.35%;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#brText {
    text-align: center;
    /*--------------*/
    text-decoration: none;
    color: #58af32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 150%;
}

#usText {
    text-align: center;
    /*--------------*/
    text-decoration: none;
    color: #ff5757;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 150%;
}

#listSeparator {
    color: #3b77d8;
}

#ad {
    padding-top: 2.5%;
    padding-left: 24%;
    padding-right: 24%;
}

#footer {
    margin-top: 8.5%;
}
