<div class="navbar">
    <a class="main" href="/">BIT</a>

    <a href="/support">Suporte</a>
    <!--<a href="/premium">Premium</a>-->
    <!--<a href="https://sponsors.thebitbot.website">Patrocinadores</a>-->
    <a href="./blog/">Blog</a>
    <a href="./extras">Extras</a>
    
    <div class="right">
        <% if (user) { %>
            <a href="/me"><%- user.tag %></a>
            <a href="http://dashboard.thebitbot.xyz">Dashboard</a>
            <a href="http://auth.thebitbot.xyz/logout">Logout</a>
        <% } else { %>
            <a href="http://auth.thebitbot.xyz">Login</a>
        <% } %>     
    </div>
</div>

